{% extends "base.html" %}

{% block body %}
    <div class="container">
        <h1 align="center">About This Application</h1>

        <br>

        <p class="text-center">This website uses data available from the
            <a href="http://developer.github.com/v3/">GitHub API</a>. As such,
            only data for publicly viewable repositories can be collected.</p>

        <p class="text-center">Determination of a developer's location is
            done using the free-form data that they entered into their
            GitHub profile. For example, if the search is on
            "Victoria BC, Canada" but the developer didn't include the word
            Victoria (case insensitive) in their location, specifying for
            instance Saanich which is part of Victoria, then that developer's
            location will not match the query.</p>
    </div>

{% endblock %}
