<!DOCTYPE html>
<html>
    <head>
        <title>OSS Trends</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Include the bootstrap stylesheets -->
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="vendor/bootstrap-3.0.0/css/bootstrap.min.css") }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="custom.css") }}">

        {% block custom_css %}{% endblock %}
        {% block custom_js %}{% endblock %}
    </head>
    <body>

    {% block body %}{% endblock %}

    </body>
</html>