{% extends "base.html" %}

{% block custom_css %}
    <link rel="stylesheet"
          href="{{ url_for("static", filename="vendor/select2/select2.css") }}">
{% endblock %}

{% block custom_js %}
    <script src="{{ url_for("static", filename="vendor/jquery-1.10.2.min.js") }}"></script>
    <script src="{{ url_for("static", filename="vendor/select2/select2.min.js") }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#location").select2({
                placeholder: "Enter location"
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 align="center">Find GitHub Users Who List<br>Their Geographic Location</h1>

        <form action="{{ url_for("users_by_location") }}" class="form-horizontal col-lg-offset-2" role="form">
            <div class="form-group">
                <label for="location" class="col-lg-2 control-label">Location</label>

                <div class="col-lg-6">
                    <select id="location" name="location" style="width:100%">
                        {% for location in locations %}
                            <option value="{{ location }}">{{ location }}</option>
                        {%  endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-4 col-lg-10">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}