{% extends "base.html" %}

{% block custom_js %}
    <script src="{{ url_for("static", filename="vendor/jquery-1.10.2.min.js") }}"></script>
    <script src="{{ url_for("static", filename="vendor/Chart-0.2.0.min.js") }}"></script>
    <script src="{{ url_for("static", filename="user_languages.js") }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            {# Need list filter because reverse returns an iterator. #}
            var stats = {{ language_stats|dictsort(by="value")|reverse|list|tojson }};

            if (stats.length == 0) {
                $("#user_languages_chart").remove();
                $("#chart_container").append(
                        "<br><h1 class='text-center'>" +
                                "This user has no code in public repositories." +
                                "</h1><br>");
                return;
            }

            createBarChart("user_languages_chart", stats);
        });
    </script>
{% endblock %}

{% block body %}

    <h1 class="text-center">Languages in <b>{{ userid }}</b>'s public repositories:</h1>
    <h4 class="text-center"><i>(Measured in bytes as retrieved using the GitHub API)</i></h4>

    <div class="container-canvas" id="chart_container">
        <canvas id="user_languages_chart" width="800" height="400"></canvas>
    </div>

    <br>
    <p class="text-center">Check out {{ userid }}'s <a href="{{ github_page }}">GitHub page.</a></p>

{% endblock %}