{% extends "base.html" %}

{% block custom_css %}
    <link rel="stylesheet"
          href="{{ url_for("static", filename="vendor/datatables-bootstrap3/assets/css/datatables.css") }}">
{% endblock %}

{% block custom_js %}
    <script src="{{ url_for("static", filename="vendor/jquery-1.10.2.min.js") }}"></script>
    <script src="{{ url_for("static", filename="vendor/jquery.dataTables.min.js") }}"></script>
    <script src="{{ url_for("static", filename="vendor/datatables-bootstrap3/assets/js/datatables.js") }}"></script>
    <script src="{{ url_for("static", filename="table.js") }}"></script>
    {% block on_ready %}
        <script type="text/javascript">
            $(document).ready(function () {
                // Sort on name, ascending
                createDataTable("user_table", 0, "asc");
            });
        </script>
    {% endblock %}
{% endblock %}

{% block custom_nav_items %}
    <a href="{{ url_for("location_languages", location_normalized=location) }}"
       class="btn btn-default navbar-btn">Language Summary and Developer Search</a>
{% endblock %}

{% block body %}

    <h2 class="page-header" align="center">
        {% block heading %}Developers in <b>{{ location }}</b>:{% endblock %}
    </h2>

    <div class="container">
        <div class="col-lg-offset-2 col-lg-8">
            <table class="table table-striped table-bordered" id="user_table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>GitHub Username</th>
                    <th>Company</th>
                    <th>{% block table_header_code %}Public Code (Bytes){% endblock %}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td><a href="{{ url_for("user_languages", userid=user.login) }}">{{ user.login }}</a></td>
                        <td>
                            {% if user.company is not none %}
                                {{ user.company }}
                            {% endif %}
                        </td>
                        <td>{% block table_data_code scoped %}{{ user.total_code_size }}{% endblock %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}