<!doctype html>
<html>
    <head>
        <title>Geo-Code-Stats</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Include the bootstrap stylesheets -->
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="bootstrap-3.0.0/css/bootstrap.min.css") }}">
    </head>
    <body>
        <div class="container">
            <h1>Software development activity statistics by geographical location.</h1>
        </div>

        <form class="well form-search">
            <input type="text" class="input-medium search-query">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

    </body>
</html>