{% extends "base.html" %}

{% block custom_nav_items %}
    <a href="{{ url_for("logout") }}"
       class="btn btn-danger navbar-btn">Log out</a>
{% endblock %}

{% block body %}

    <div class="container">
        <p class="text-center">
            <b>Tasks:</b>
        </p>

        <div class="btn-group-vertical btn-group-justified">
            <a href="{{ url_for("admin_change_password") }}"
               class="btn btn-default">Change password</a>
        </div>
    </div>

{% endblock %}
